.Orgs__Component {
    position: relative;
    ul {
        list-style: none;
    }
    button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        position: absolute;
        right: 0;
    }
}